html, body {
    /*height: 100%;*/
}

footer{
    display: none;
    position: absolute;
    /*width: 100%;*/
    /*left: 0;*/
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #222;
    color: white;
}

footer a:hover{
    color: deepskyblue;
}

.error {
    color: darkred;
}

a, a:hover, a:active, a:focus, a:visited{
    text-decoration: none;
    outline: 0;
}

